@* A single shimmering placeholder bar, used to build skeleton loading screens. *@

<span class="skeleton @CssClass" style="width: @Width; height: @Height;"></span>

@code {
    [Parameter] public string Width { get; set; } = "100%";
    [Parameter] public string Height { get; set; } = "1rem";
    [Parameter] public string? CssClass { get; set; }
}
