@page "/not-found"
@layout MainLayout

<PageTitle>Page not found</PageTitle>

<div class="py-5">
    <EmptyState IconName="search" Message="Sorry, the page you were looking for does not exist.">
        <Action>
            <a class="btn btn-primary" href="/"><Icon Name="home" Size="16" /> Back to home</a>
        </Action>
    </EmptyState>
</div>
