@* The navigation menu. I use AuthorizeView so the links change depending on who is signed in:    *@
@* everyone signed in can browse events, but only an Admin sees the management links.               *@

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Community Events</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                @* Links for any signed-in user. *@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="events">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Browse Events
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="my-registrations">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Registrations
                    </NavLink>
                </div>

                @* Admin-only management links. *@
                <AuthorizeView Roles="Admin" Context="adminContext">
                    <hr class="text-white-50 my-2" />
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="admin" Match="NavLinkMatch.All">
                            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Admin Dashboard
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/events">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Manage Events
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/venues">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Manage Venues
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/activities">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Manage Activities
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/participants">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Manage Participants
                        </NavLink>
                    </div>
                </AuthorizeView>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>
