<Router AppAssembly="typeof(Program).Assembly" NotFoundPage="typeof(Pages.NotFound)">
    <Found Context="routeData">
        @* AuthorizeRouteView checks any [Authorize] attribute on the page before it renders.    *@
        @* If the user is not allowed in, the NotAuthorized content runs instead and sends them   *@
        @* to the login page. The signed-in identity is provided by AddCascadingAuthenticationState. *@
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <NotAuthorized>
                <RedirectToLogin />
            </NotAuthorized>
            <Authorizing>
                <p>Checking your access...</p>
            </Authorizing>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
</Router>
